@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f3;
  --foreground: #15291a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
